@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  -webkit-animation: fadeIn 1.8s ease-in-out;
  -moz-animation: fadeIn 1.8s ease-in-out;
  -o-animation: fadeIn 1.8s ease-in-out;
  animation: fadeIn 1.8s ease-in-out;
}

/*  our-dev-services animation Start*/
.our-dev-services {
  -webkit-animation: fadeIn 1.8s ease-in-out;
  -moz-animation: fadeIn 1.8s ease-in-out;
  -o-animation: fadeIn 1.8s ease-in-out;
  animation: fadeIn 1.8s ease-in-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/*  our-dev-services animation End*/

/* Button Css Start */
.btn-primary {
  @apply text-[#410EAD] font-mono text-base shadow-buttonShadow rounded whitespace-nowrap hover:bg-[#29e248]  hover:text-black hover:shadow-none font-semibold py-2 px-4 bg-white antialiased;
}
/* Button Css End */

/* ScrollBar Css Start */
#style-7::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
  /* border-radius: 10px; */
}

#style-7::-webkit-scrollbar {
  width: 5px;
  background-color: #d9d9d9;
}

#style-7::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background: #410ead;
}
/* ScrollBar Css End */

.NFTFractures-border {
  border-bottom: 1.5px solid transparent;
  border-image: linear-gradient(to right, #ffffff, #410ead, #ffffff) 1;
}

.NFTFractures-border1 {
  border-right: 1.5px solid transparent;
  border-image: linear-gradient(to bottom, #ffffff, #410ead, #ffffff) 1;
}
/*=== FADE IN DOWN START ===*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/*=== FADE IN DOWN END ===*/
